<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="ClintonFrankland.master.cs" Inherits="ClintonFrankland.ClintonFrankland" %>
<!DOCTYPE html>
<html>
    <head runat="server">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="Content/bootstrap.min.css" rel="stylesheet" />
        <link href="Content/all.css" rel="stylesheet" />
        <link href="Content/bootstrap-datepicker.min.css" rel="stylesheet" />
        <link href="Content/jquery-ui.css" rel="stylesheet" />
        <link href="Content/typeahead.css" rel="stylesheet" />
        <title><%: MyBase.SiteInfo.SiteName %></title>
        <script src="Scripts/jquery-3.7.1.min.js"></script>
        <script src="Scripts/moment.min.js"></script>
        <script src="Scripts/bootstrap.bundle.js"></script>
        <script src="Scripts/Chart.min.js"></script>
        <script src="Scripts/typeahead.bundle.min.js"></script>
    <link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.3/b-3.1.1/b-html5-3.1.1/sp-2.3.1/sl-2.0.4/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.3/b-3.1.1/b-html5-3.1.1/sp-2.3.1/sl-2.0.4/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.2.1"></script>
        <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
    </head>
    <body style="padding-top: 70px;">
        <form id='frmMain' runat='server'>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="Default.aspx"><%= SiteInfo.Icon %><%: SiteInfo.SiteName %></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbar" class="navbar-collapse collapse">
                        <asp:Panel ID="MenuPanel" runat="server" Visible="false">
                            <ul class="navbar-nav mr-auto">
                                <li class='nav-item'><a class='nav-link' href='Checkbook.aspx'>Checkbook</a></li>
                                <li class='nav-item'><a class='nav-link' href='Budget.aspx'>Budget Forcast</a></li>
                                <li class='nav-item'><a class='nav-link' href='BudgetItems.aspx'>Budget Items</a></li>
                                <li class='nav-item'><a class='nav-link' href='Accounts.aspx'>Accounts</a></li>
                            </ul>
                        </asp:Panel>
                        <ul class="nav ms-auto">
                            <li class="nav-item"><asp:LinkButton ID="lnkLogin" runat="server" Text="" CssClass="nav-link" OnClick="lnkLogin_Click" /></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                <asp:ContentPlaceHolder ID="BodyContent" runat="server">
                </asp:ContentPlaceHolder>
                <hr />
                <footer>
                    <p>&copy; <%: DateTime.Now.Year %> - <%: SiteInfo.SiteName %> <small class="text-muted">(<%: SiteInfo.Version %>)</small></p>
                </footer>
            </div>
        </form>
    </body>
</html>